  <nav class="menu-activea">
    <div class='hamburger'>
      <span class='line h-top'></span>
      <span class='line h-mid'></span>
      <span class='line h-low'></span>
    </div>
    <ul >
      <li>
        <a class="nav-link" href="">About</a>
      </li>
      <li>
        <a class="nav-link" href="">Projects</a>
      </li>
      <li>
        <a class="nav-link" href="">Videos</a>
      </li>
      <li>
      <a class="nav-link" href="">Blog</a>
      </li>
      <li>
        <a class="nav-link" href="">Contact</a>
      </li>
    </ul>
  </nav>